{% extends 'base.html.twig' %}

{% block title %}Autolog{% endblock %}

{% block body %}

    <div class="content">
        <h1>⏱ Autolog</h1>
        <div>
            <a href="{{ yesterday_link }}">-</a>
            {{ date }}
            <a href="{{ tomorrow_link }}">+</a>
        </div>
        <table class="events">
            {% for event in events %}
                <tr>
                    <td>
                        {% set query_params = { 'duration': event.getDurationFormatted('%hh %im') } %}
                        {% if event.isJiraIssue() %}
                            {% set query_params = query_params|merge({ 'jira': event.getJiraIssue() }) %}
                            <a target="_blank"
                               href="{{ path('time_log', query_params) }}">⏱</a>
                        {% endif %}
                        {% if event.isFiberyMoment() %}
                            {% set query_params = query_params|merge({ 'fibery': event.getFiberyMoment() }) %}
                            <a target="_blank"
                               href="{{ path('time_log', query_params) }}">⏱</a>
                        {% endif %}
                    </td>
                    <td>
                        <div class="harvest-timer"
                             data-item='{
                         "id": "{{ event.getJiraIssue }}",
                         "name": "{{ event.getShortSummary }}"}'>
                        </div>
                    </td>
                    <td class="events__summary">
                        {{ event.getProject }}:
                        {% if event.isJiraIssue() %}
                            <a target="_blank"
                               href="{{ event.getJiraUrl() }}">{{ event.shortSummary }}</a>
                        {% elseif event.isFiberyMoment() %}
                            <a target="_blank"
                               href="{{ event.getFiberyUrl() }}">{{ event.shortSummary }}</a>
                        {% else %}
                            {{ event.getShortSummary }}
                        {% endif %}
                    </td>
                    <td>
                        {{ event.getDurationFormatted('%hh %im') }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <span>Total: {{ total_duration }}</span>
    </div>
{% endblock %}
